{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
    <br>
        <div class="out">
            <div class="in">
            <!-- Upload form. Note enctype attribute! -->
                <form action="{% url "file" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <p>{{ form.non_field_errors }}</p>

                    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

                    <p>
                        {{ form.docfile.errors }}
                        {{ form.docfile}}

                    </p>
                    <br>
                    <p class = "in"><input type="submit" name="sbmButton" value="Submit" class="btn btn-primary"/></p>
                </form>

            </div>
        </div>
    </body>
</html>